---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
<!--
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
-->
    <!-- This loops through the paginated posts -->
        {% for post in paginator.posts %}
        <h1><a href="/wordpress{{ post.url }}">{{ post.title }}</a></h1>
        <p class="author">
            <span class="date">{{ post.date }}</span>
        </p>
        <div class="content">
            {{ post.content | strip_html | truncatewords:5}}<br>
            <a href="/wordpress{{ post.url }}">详情...</a><br><br>
        </div>
        {% endfor %}


    <!-- Pagination links -->
    <div class="pagination">
        {% if paginator.previous_page > 1 %}
        <a href="/wordpress/index.html" class="previous">&laquo;</a>
        <a href="/wordpress/blogs/page/{{ paginator.previous_page }}" class="previous">上一页</a>
        {% elsif paginator.previous_page == 1 %}
        <a href="/wordpress/index.html" class="previous">上一页</a>
        {% else %}
        {% endif %}
        <span class="page_number ">第{{ paginator.page }}页/共{{ paginator.total_pages }}页</span>
        {% if (paginator.total_pages - paginator.next_page) > 1%}
        <a href="/wordpress/blogs/page/{{ paginator.next_page }}" class="next">下一页</a>
        <a href="/wordpress/blogs/page/{{ paginator.total_pages }}" class="next">&raquo;</a>

        {% elsif paginator.next_page %}
        <a href="/wordpress/blogs/page/{{ paginator.next_page }}" class="next">&raquo;</a>
        {% else %}
        {% endif %}
    </div>

  <p class="rss-subscribe">通过<a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>订阅本站</p>

</div>
